<!-- views/components/header.html -->
<header class="header">
    <section class="flex">
      <a href="/home" class="logo">Learn Online.</a>
  
      <form action="/search_course" method="post" class="search-form">
        <input type="text" id="search_course" placeholder="search courses..." required maxlength="100">
        <button type="submit" class="fas fa-search" id="search_course_btn"></button>
      </form>
  
      <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="toggle-btn" class="fas fa-sun"></div>
      </div>
  
      <div id="profile"></div>
    </section>
  </header>
  
  <div class="side-bar">
    <div class="close-side-bar">
      <i class="fas fa-times"></i>
    </div>
  
    <div id="sidebar-profile"></div>
  
    <nav class="navbar">
      <a href="/"><i class="fas fa-home"></i><span>home</span></a>
      <a href="/about"><i class="fas fa-question"></i><span>about us</span></a>
      <a href="/courses"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
      <a href="/teachers"><i class="fas fa-chalkboard-user"></i><span>teachers</span></a>
      <a href="/contact"><i class="fas fa-headset"></i><span>contact us</span></a>
    </nav>
  </div>
  <!-- <script src="../../routes/user_header.js"></script> -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Select the user button
        const userButton = document.getElementById('user-btn');

        // Add click event listener
        userButton.addEventListener('click', function() {
            // Redirect to the profile page
            console.log('User button clicked'); // Debugging line
            window.location.href = '/profile';
        });
    });
</script>
