<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Font Awesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Custom CSS File Link -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('components/user_header.ejs') %>  <!-- Fixed include syntax -->

    <section class="form-container">
        <form action="/login" method="post" class="login">
            <h3>Welcome Back!</h3>
            <p>Your Email <span>*</span></p>
            <input type="email" name="email" placeholder="Enter your email" maxlength="50" required class="box">
            <p>Your Password <span>*</span></p>
            <input type="password" name="pass" placeholder="Enter your password" maxlength="20" required class="box">
            <p class="link">Don't have an account? <a href="/register">Register now</a></p>
            <input type="submit" name="submit" value="Login Now" class="btn">
        </form>
    </section>

    <%- include('components/footer.ejs') %>  <!-- Fixed include syntax -->

    <!-- Custom JS File Link -->
    <script src="/js/script.js"></script>
</body>
</html>
